{% extends 'base_template.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now Playing</title>
</head>
<body>

<!--filter results-->
<h2 align="center">All movies</h2>
{% for schedule in page_obj %}
<div class="movies-container">
        <div class="movie-container"><a class="now-playing-single-movie" href="/cinema/movie-page/{{schedule.pk}}">
            <div class="movie-poster">
                <img src="{{schedule.movie.poster_url}}"
                     alt="{{schedule.movie}}" width="80px" height="120"></div>
            <p>Movie: {{schedule.movie.name}}</p>
            <p>Year: {{schedule.movie.year}}</p>
            <p>Duration: {{schedule.movie.duration}}'</p>
            <p>Director: {{schedule.movie.director}}</p>
        </div></a>
</div>
{% endfor %}

<!--pagination -->
<div class="pagination" align="center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>
{% endblock %}