{% extends 'base_template.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now Playing</title>
</head>
<body>
<div>
<h2 align="center">Choose your location</h2>

<!--user filter-->
<div align="center">
    <form method="POST">
        {% csrf_token %}
        <select name="selected_city">
            {% for city in cinema_cities %}
                <option>{{city}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="filter" class="all_purpose_button">
    </form>
</div>
</div>
</body>
</html>
{% endblock %}
